body
{
	background-color: black;
	font-family: arial;
	color: white;
}

h1 {
	color: grey;
	font-family: verdana;
}

.divBackgr 
{
	background-color: white;
	color: #000;
	width: 500px;
	height: auto;
	padding: 20px;
	border-radius: 25px;
	margin: auto;
	text-align: left;
	justify-content: center;
}

.divInput 
{
	width: 450px;
	font-weight: 570;
	margin-left: 90px;
	font-size: 16px;
	margin-bottom: 25px;
}

#principal 

{
	margin-left: 57px;
	margin-bottom: 16px;
}

#rate 

{
	margin-left: 26px;
	margin-bottom: 16px;
}

#years 

{
	margin-left: 30px;
	margin-bottom: 16px;
}

#result 

{
	margin-bottom: 16px;
}

.highlight 

{
	background-color: #ffff00;
}
